 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Condensed;
}

/* CLASE GENERAL */

.t_center{

    text-align: center;
}
.div-padre{
  overflow: auto;

}
.row{
  width: 100%;
  margin-right: 80px;
}

@media (max-width: 768px) {
  .collapsed{
   text-align: center;
  }

.navbar-toggler{
  width: 400px;
 
  } 

  .navbar .navbar-collapse{
 text-align: center;

    
     
  }
  
  .navbar-collapse .navbar-nav{
 
    text-align: center;

  
  }
  
  .div-proyecto-hijo{
    border: solid 2px #f9e904;
    padding: 5px;
    margin: 5px;}
}


  @media (max-width: 576px) {
    .collapsed{
     text-align: center;
    }
    .div-proyecto-hijo{
      border: solid 2px #f9e904;
      padding: 5px;
      margin: 5px;}

  .navbar-toggler{
    width: 400px;
   
    } 
  
    .navbar .navbar-collapse{
   text-align: center;
  
      
       
    }
   
    .navbar-collapse .navbar-nav{
   
      text-align: center;
  
      
    
    }
    .div-logo{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    footer{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
 
}

.subtittle{
  margin-top:50px;
  background-color: #f9e904;
  color: black;
  display:block;
  animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  /* Animaciones */
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }







}
.dropdown-menu{
  background-color: #f9e904;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border: 1px solid #242423;
}




.d-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.text-logo {
  display: inline;
  margin-left: 20px;
  color: #f9e904;
}
.div-article{
  display: flex;
  flex-direction:row;
  justify-content: center;
}
.hijo_article {
margin: 30px 30px;
border: 2px solid #242423;
padding-top: 10px;
animation: tilt-in-fwd-tr 0.6s ease-in both;
}
@keyframes tilt-in-fwd-tr {
  0% {
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

main{
  background-color:#242423
}



p{
display: block; 
padding-top: 10px;
color: white;
}
.p-historia{
  margin-top: 500px
}
li{
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  margin: 10px;
}
a{
  list-style: none;
}


div h3{
    
   
    max-width: 540px
  }

@media (min-width: 768px) {

  .logo{
    margin-left: 150px;
   }
 
 
 



}
.collapse{
  background-color: #242423;
 text-align: center;

}
.navbar{
  background-color: black;
}

section{
  background-color: #242423;
}
  .section_noticias{

    background-color: #b12220;
    
  }
  .tittle-article{
    background-color: #f9e904;
    color:black;
    max-width: 544px;
  }
     
    
  
  .tittle-article:hover{
    animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  }
  @keyframes flip-in-ver-right {
    0% {
      transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0);
      opacity: 1;
    }
  }


  
  

.div-pie-articulo{
  display: flex;
} 
     body{
      background-color:#242423

     }
     ul{
      background-color: black;
     }
     
    a:hover{
      text-decoration: underline #f9e904;
    
    }

   
 
  footer{
  background-color: black;
    padding: 50px 20px;
    display: flex;
  }
  .div-footer{
   color: aliceblue;
  }
  .div-icon-footer{
margin-right: 60px;
    display: flex;
    flex-direction: row-reverse;
    
    
  }
.icon-redes{
  height: 45px;
  width: 45px;
}
.fixed-bottom{
 display: flex;
 flex-direction: row-reverse;
 margin-bottom: 30px;
 margin-right: 30px;


 }
 .fixed-icon{
  height:60px;
  width:60px;
  
 }
 .h3-redes{
  color: white;
 margin-left: 30px;
 }
 .div-redes-footer{
  margin-left: 50px;

 }
 .div-anclaje-inicio{
  margin-left: 50px;

 }

 /*   CCS PAGINA "PROYECTO"    */

.div-proyecto{


 

}
.div-proyecto-hijo{
  border: solid 2px #f9e904;
  padding: 15px;
  margin: 15px;
 
  
}
 .div-tittle{

margin:  20px;
background-color: #f9e904;
 }
 .p-proyecto{
  padding: 30px;
 }
 .iframe{
margin: 30px;
 }
 .sedes-tittle{
  background-color: #f9e904;
 }
 .mapa{
  justify-content: center;
  align-items: center;
 }

/*   TABLET    */
